{% extends 'generator/base.html' %}

{% block title %}Your password {% endblock %}

	{% block content %}
	<style type="text/css">
		.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  margin: auto; /* center horizontally */
  margin-top: 50px; /* add some top margin */
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 10px;
}

#success-message {
  display: none;
  margin-top: 10px;
  color: green;
}
</style>

<div class="card">
  <div class="card-body">
    <center><span id="password">{{ password }}</span></center>
    <button onclick="copyPassword()" style="background-color: #0362fc;">Copy Password</button>
    <div id="success-message">Password copied successfully!</div>
  </div>
</div>

 <script type="text/javascript">
   	function copyPassword() {
  var password = document.getElementById("password");
  var selection = window.getSelection();
  var range = document.createRange();
  range.selectNodeContents(password);
  selection.removeAllRanges();
  selection.addRange(range);
  document.execCommand("copy");
  selection.removeAllRanges();
  var successMessage = document.getElementById("success-message");
  successMessage.style.display = "block";
  setTimeout(function() {
    successMessage.style.display = "none";
  }, 5000);
}

   </script>

    {% endblock %}
